# Add emissions to all the flights and trains

In [31]:
import pandas as pd

#### Flights

In [32]:
df_flights = pd.read_csv('../data/flight_connections_filtered.csv')

In [33]:
CO2_per_km = 110 # g/km
average_people = 330 # people
CO2_per_liter = 3.15 # g/liter
takeoff_emissions_aircraft = 110000 # g
takeoff_emission_passenger = (takeoff_emissions_aircraft / average_people) * CO2_per_liter

In [34]:
# add column for emissions per passenger
df_flights['emissions'] = df_flights['distance'] * CO2_per_km + takeoff_emission_passenger

In [35]:
df_flights.head()

,airline,airline ID,source airport,source airport id,destination airport,destination airport id,stops,equipment,source_longitude,source_latitude,...,dest_country,dest_country_code,distance,new_source_latitude,new_source_longitude,new_dest_latitude,new_dest_longitude,new_distance,color,emissions
0,2N,3652,AJR,730.0,LYC,719.0,0.0,ATP,19.2819,65.590302,...,Sweden,SE,118.859041,65.59033,19.16682,64.59537,18.673510,113.329413,#FF3333,14124.494503
1,2N,3652,ARN,737.0,GEV,715.0,0.0,ATP,17.9186,59.651901,...,Sweden,SE,843.975815,59.32938,18.06871,67.13790,20.659362,879.867200,#FF3333,93887.339633
2,2N,3652,ARN,737.0,HAD,709.0,0.0,SF3,17.9186,59.651901,...,Sweden,SE,444.478437,59.32938,18.06871,56.67446,12.856760,426.870397,#FF3333,49942.628099
3,2N,3652,ARN,737.0,JKG,688.0,0.0,ATP SF3,17.9186,59.651901,...,Sweden,SE,306.205420,59.32938,18.06871,57.78145,14.156180,285.591780,#FF3333,34732.596175
4,2N,3652,ARN,737.0,KRF,718.0,0.0,ATP,17.9186,59.651901,...,Sweden,SE,377.779624,59.32938,18.06871,62.93161,17.776460,401.708085,#FF3333,42605.758587

In [36]:
df_flights.to_csv('../data/flight_connections_emissions.csv', index=False)

#### Trains

In [37]:
df_trains = pd.read_csv('../data/train_connections_filtered.csv')

In [38]:
train_CO2_per_km = 3.15 # g/km

In [39]:
# add column for emissions per passenger
df_trains['emissions'] = df_flights['distance'] * train_CO2_per_km

In [40]:
df_trains.head()

,departure_id,departure_city,departure_name,departure_latitude,departure_longitude,destination_id,destination_city,destination_name,destination_latitude,destination_longitude,distance,new_dep_latitude,new_dep_longitude,new_dest_latitude,new_dest_longitude,new_distance,color,emissions
0,7400002.0,Stockholm,Stockholm Central,59.330010,18.057630,7400003.0,Gothenborg,Gothenborg Central,57.709309,11.973425,396.396552,59.32938,18.06871,57.70716,11.96679,398.667205,#3333FF,374.405979
1,7400003.0,Gothenborg,Gothenborg Central,57.709309,11.973425,7400014.0,Halmstad,Halmstad Central,56.669212,12.864301,127.500349,57.70716,11.96679,56.67446,12.85676,126.967575,#3333FF,2658.523817
2,7400002.0,Stockholm,Stockholm Central,59.330010,18.057630,7400017.0,Nassjo,Nassjo Central,57.652128,14.694783,270.127496,59.32938,18.06871,57.65307,14.69676,271.115932,#3333FF,1400.107077
3,7400017.0,Nassjo,Nassjo Central,57.652128,14.694783,7400071.0,Jonkoping,Jonkoping Central,57.784629,14.162901,34.853982,57.65307,14.69676,57.78145,14.15618,35.247679,#3333FF,964.547072
4,7400002.0,Stockholm,Stockholm Central,59.330010,18.057630,7400330.0,Kramfors,Kramfors station,62.928976,17.778227,400.466802,59.32938,18.06871,62.93161,17.77646,401.708085,#3333FF,1190.005814

In [41]:
# save to csv
df_trains.to_csv('../data/train_connections_emissions.csv', index=False)