# Preprocess routes
Include city and country of source and destination airports

Save to CSV

In [29]:
import pandas as pd

In [30]:
# Read in the data
df_airports = pd.read_csv('../data/airports_filtered.csv')
df_routes = pd.read_csv('../data/routes.csv')

In [31]:
countries = [
    'Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Cyprus', 'Czech Republic',
    'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary',
    'Ireland', 'Italy', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta',
    'Netherlands', 'Poland', 'Portugal', 'Romania', 'Slovakia', 'Slovenia',
    'Spain', 'Sweden'
]

In [32]:
country_codes = {
    'Austria': 'AT',
    'Belgium': 'BE',
    'Bulgaria': 'BG',
    'Croatia': 'HR',
    'Cyprus': 'CY',
    'Czech Republic': 'CZ',
    'Denmark': 'DK',
    'Estonia': 'EE',
    'Finland': 'FI',
    'France': 'FR',
    'Germany': 'DE',
    'Greece': 'GR',
    'Hungary': 'HU',
    'Ireland': 'IE',
    'Italy': 'IT',
    'Latvia': 'LV',
    'Lithuania': 'LT',
    'Luxembourg': 'LU',
    'Malta': 'MT',
    'Netherlands': 'NL',
    'Poland': 'PL',
    'Portugal': 'PT',
    'Romania': 'RO',
    'Slovakia': 'SK',
    'Slovenia': 'SI',
    'Spain': 'ES',
    'Sweden': 'SE'
}

In [33]:
df_airports

,Airport ID,Name,City,Country,IATA,ICAO,Latitude,Longitude,Alitude,Timezone,DST,Tz database time zone,Type,Source
0,299,Antwerp International Airport (Deurne),Antwerp,Belgium,ANR,EBAW,511.893.997.192,446.027.994.156,39,1,E,Europe/Brussels,airport,OurAirports
1,302,Brussels Airport,Brussels,Belgium,BRU,EBBR,50.901.401.519.800.000,448.443.984.985,184,1,E,Europe/Brussels,airport,OurAirports
2,304,Brussels South Charleroi Airport,Charleroi,Belgium,CRL,EBCI,50.459.202,445.382,614,1,E,Europe/Brussels,airport,OurAirports
3,308,Wevelgem Airport,Kortrijk-vevelgem,Belgium,KJK,EBKT,50.817.199.707,320.472.002.029,64,1,E,Europe/Brussels,airport,OurAirports
4,309,LiÃ¨ge Airport,Liege,Belgium,LGG,EBLG,5.063.740.158.081.050,5.443.220.138.549.800,659,1,E,Europe/Brussels,airport,OurAirports
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
629,13183,Bonn-Hangelar Airport,Sankt-Augustin,Germany,BNJ,EDKB,507.688.903.809,716.333.293.915,197,1,E,\N,airport,OurAirports
630,13677,Algeciras Heliport,Algeciras,Spain,AEI,LEAG,3.612.888,-5.441.118,98,-2,E,\N,airport,OurAirports
631,13829,RegiÃ³n de Murcia International Airport,Murcia,Spain,RMU,LEMI,37.803,-1.125,632,1,E,\N,airport,OurAirports
632,14088,Bezmer Air Base,Yambol,Bulgaria,JAM,LBIA,424.548.988.342,263.521.995.544,509,\N,\N,\N,airport,OurAirports
633,14093,Lefkoniko Airport,GeÃ§itkale,Cyprus,GEC,LCGK,35.235.947,33.724.358,146,\N,\N,\N,airport,OurAirports

In [34]:
df_airports.columns

Index(['Airport ID', 'Name', 'City', 'Country', 'IATA', 'ICAO', 'Latitude',
       'Longitude', 'Alitude', 'Timezone', 'DST', 'Tz database time zone',
       'Type', 'Source'],
      dtype='object')

In [35]:
# rename column ' destination apirport' to 'destination airport'
df_routes.rename(columns={' destination apirport': 'destination airport'}, inplace=True)

In [36]:
# make a dictionary with IATA as key and country as value
iata_country = {}
iata_city = {}
iata_longitude = {}
iata_latitude = {}
for index, row in df_airports.iterrows():
    iata_country[row['IATA']] = row['Country']
    iata_city[row['IATA']] = row['City']
    iata_longitude[row['IATA']] = row['Longitude']
    iata_latitude[row['IATA']] = row['Latitude']

In [37]:
# filter routes to only include routes between countries in the EU
iatas = df_airports['IATA'].tolist()
df_routes = df_routes[df_routes['destination airport'].isin(iatas)]
df_routes = df_routes[df_routes[' source airport'].isin(iatas)]

In [38]:
df_routes

,airline,airline ID,source airport,source airport id,destination airport,destination airport id,codeshare,stops,equipment
129,2N,3652,AJR,730,LYC,719,NaN,0,ATP
130,2N,3652,ARN,737,GEV,715,NaN,0,ATP
131,2N,3652,ARN,737,HAD,709,NaN,0,SF3
132,2N,3652,ARN,737,JKG,688,NaN,0,ATP SF3
133,2N,3652,ARN,737,KRF,718,NaN,0,ATP
...,...,...,...,...,...,...,...,...,...
67463,ZI,21,LIS,1638,ORY,1386,NaN,0,319 320
67479,ZI,21,OPO,1636,ORY,1386,NaN,0,320 319
67494,ZI,21,ORY,1386,FNC,4091,NaN,0,320
67495,ZI,21,ORY,1386,LIS,1638,NaN,0,319 320
67496,ZI,21,ORY,1386,OPO,1636,NaN,0,320 319

In [39]:
df_routes.columns

Index(['airline', 'airline ID', ' source airport', ' source airport id',
       'destination airport', ' destination airport id', ' codeshare',
       ' stops', ' equipment'],
      dtype='object')

In [40]:
# loop over all routes and add the country of the destination airport and the country of the source airport as columns
source_longitude = []
source_latitude = []
dest_longitude = []
dest_latitude = []
dest_city = []
source_city = []
dest_country = []
source_country = []
dest_country_code = []
source_country_code = []

for index, row in df_routes.iterrows():
    dest_city.append(iata_city[row['destination airport']])
    source_city.append(iata_city[row[' source airport']])
    dest_country.append(iata_country[row['destination airport']])
    source_country.append(iata_country[row[' source airport']])
    dest_country_code.append(country_codes[iata_country[row['destination airport']]])
    source_country_code.append(country_codes[iata_country[row[' source airport']]])
    dest_longitude.append(iata_longitude[row['destination airport']])
    source_longitude.append(iata_longitude[row[' source airport']])
    dest_latitude.append(iata_latitude[row['destination airport']])
    source_latitude.append(iata_latitude[row[' source airport']])

df_routes['source_longitude'] = source_longitude
df_routes['source_latitude'] = source_latitude
df_routes['source_city'] = source_city
df_routes['source_country'] = source_country
df_routes['source_country_code'] = source_country_code
df_routes['dest_longitude'] = dest_longitude
df_routes['dest_latitude'] = dest_latitude
df_routes['dest_city'] = dest_city
df_routes['dest_country'] = dest_country
df_routes['dest_country_code'] = dest_country_code

In [41]:
df_routes

,airline,airline ID,source airport,source airport id,destination airport,destination airport id,codeshare,stops,equipment,source_longitude,source_latitude,source_city,source_country,source_country_code,dest_longitude,dest_latitude,dest_city,dest_country,dest_country_code
129,2N,3652,AJR,730,LYC,719,NaN,0,ATP,1.928.190.040.588.370,6.559.030.151.367.180,Arvidsjaur,Sweden,SE,1.871.619.987.487.790,6.454.830.169.677.730,Lycksele,Sweden,SE
130,2N,3652,ARN,737,GEV,715,NaN,0,ATP,17.918.600.082.397,59.651.901.245.117,Stockholm,Sweden,SE,20.814.599.990.844.700,6.713.240.051.269.530,Gallivare,Sweden,SE
131,2N,3652,ARN,737,HAD,709,NaN,0,SF3,17.918.600.082.397,59.651.901.245.117,Stockholm,Sweden,SE,12.820.199.966.430.600,5.669.110.107.421.870,Halmstad,Sweden,SE
132,2N,3652,ARN,737,JKG,688,NaN,0,ATP SF3,17.918.600.082.397,59.651.901.245.117,Stockholm,Sweden,SE,14.068.699.836.730.900,57.757.598.876.953.100,Joenkoeping,Sweden,SE
133,2N,3652,ARN,737,KRF,718,NaN,0,ATP,17.918.600.082.397,59.651.901.245.117,Stockholm,Sweden,SE,1.776.889.991.760.250,6.304.859.924.316.400,Kramfors,Sweden,SE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67463,ZI,21,LIS,1638,ORY,1386,NaN,0,319 320,-913.592,387.813,Lisbon,Portugal,PT,23.794.444,487.233.333,Paris,France,FR
67479,ZI,21,OPO,1636,ORY,1386,NaN,0,320 319,-868.138.980.865,412.481.002.808,Porto,Portugal,PT,23.794.444,487.233.333,Paris,France,FR
67494,ZI,21,ORY,1386,FNC,4091,NaN,0,320,23.794.444,487.233.333,Paris,France,FR,-167.745,32.697.899,Funchal,Portugal,PT
67495,ZI,21,ORY,1386,LIS,1638,NaN,0,319 320,23.794.444,487.233.333,Paris,France,FR,-913.592,387.813,Lisbon,Portugal,PT
67496,ZI,21,ORY,1386,OPO,1636,NaN,0,320 319,23.794.444,487.233.333,Paris,France,FR,-868.138.980.865,412.481.002.808,Porto,Portugal,PT

In [42]:
# show all values of the column 'codeshare'
df_routes[' codeshare'].unique()

# drop column codeshare
df_routes.drop(columns=[' codeshare'], inplace=True)

In [43]:
# save to csv
df_routes.to_csv('../data/routes_filtered.csv', index=False)